<h3>商品編集</h3>

<table>
  <tbody>
    <%= form_with model:@item, url: admin_item_path(@item), method: :patch, local: true do |f| %>
      <tr>
        <th><%= f.label :image, "商品画像" %></th>
        <th><%= f.file_field :image, required: true %></th>
      </tr>
      <tr>
        <th><%= f.label :name, "商品名" %></th>
        <th><%= f.text_field :name, required: true %></th>
      </tr>
      <tr>
        <th><%= f.label :introduction, "商品説明" %></th>
        <th><%= f.text_area :introduction, required: true %></th>
      </tr>
      <tr>
        <th><%= f.label :genre_id, "ジャンル" %></th>
        <th><%= f.collection_select :genre_id, Genre.all, :id, :name %></th>
      </tr>
      <tr>
        <th><%= f.label :price, "税抜価格" %></th>
        <th><%= f.number_field :price, required: true %>円</th>
      </tr>
      <tr>
        <th><%= f.label :is_active, "販売中" , value: true %></th>
        <th><%= f.radio_button :is_active, true %>販売中</th>
        <th><%= f.label :is_active, "販売停止中" , value: false %></th>
        <th><%= f.radio_button :is_active, false %>販売停止中</th>
      </tr>
      <tr>
        <td><%= f.submit "変更を保存" %><th>
      </tr>
    <% end %>
  </tbody>
</table>

