<div class="container mr-5">

      <div class="item-edit-title mb-4">
        <h5 class="fs-6">
          <span class="px-2">商品編集</span>
        </h5>
      </div>


<div>
  <%= form_with model: @item, url: admin_item_path(@item), method: :patch, local: true do |f| %>

  　<div class="oya">
      <div class="mb-3">
        <%= f.label :image, "商品画像" %>
      </div>
      <div class="mb-3 yoko">
        <%= f.file_field :image, required: true %>
      </div>
    </div>

    <div class="oya">
      <div class="mb-3">
        <%= f.label :name, "商品名 " %>
      </div>
      <div class="mb-3 yoko1">
        <%= f.text_field :name, required: true %>
      </div>
    </div>

    <div class="oya">
      <div class="mb-3">
        <%= f.label :introduction, "商品説明" %>
      </div>
      <div class="mb-3 yoko">
        <%= f.text_area :introduction, required: true %>
      </div>
    </div>

    <div class="oya">
      <div class="mb-3">
        <%= f.label :genre_id, "ジャンル" %>
      </div>
      <div class="mb-3 yoko">
        <%= f.collection_select :genre_id, Genre.all, :id, :name %>
      </div>
    </div>

    <div class="oya">
      <div class="mb-3">
        <%= f.label :price, "税抜価格" %>
      </div>
      <div class="mb-3 yoko">
        <%= f.number_field :price, required: true %>円
      </div>
    </div>

    <div class="oya">
      <div class="mb-3">
        <%= f.label :is_active, "販売ステータス" %>
      </div>
      <div class="mb-3 yoko2">
        <%= f.radio_button :is_active, "true" %> <%= label_tag "販売中" %>
        <%= f.radio_button :is_active, "false" %> <%= label_tag "販売停止中" %>
      </div>
    </div>

    <div class="mb-3">
      <%= f.submit "変更を保存" , class: "btn btn-success w-40" %>
    </div>
  <% end %>
</div>
</div>
