<h4>注文履歴詳細</h4>

<table>
  <tbody>
    <tr>
      <th>購入者</th>
      <td><%= @customer.full_name %></td>
    </tr>
    <tr>
      <th>注文日</th>
      <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.postal_code + " " + @order.address %><%= @order.name %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th>支払方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>注文ステータス</th>
      <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
      <td><%= f.select :order_status, Order.order_statuses.keys.map { |status| [t("order_status.#{status}"), status] }, {}, class: "form-control" %></td>
      <td><%= f.submit "更新", class: "btn btn-success" %></td>
      <% end %>
    </tr>
  </tbody>
</table>

<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込み)</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
      <td>なし</td>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= item.amountexit %></td>
        <td><%= item.price x item.amountexit %></td>
        <td></td>
        <td><%= f.submit "更新", class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<br>
<br>

<table>
  <tbody>
    <tr>
      <th>商品合計</th>
      <td>円</td>
    </tr>
    <tr>
      <th>送料</th>
      <td>800円</td>
    </tr>
    <tr>
      <th>請求金額合計</th>
      <td>円</td>
    </tr>
  </tbody>
</table>