<div class="container py-4">
  <div class= "row">
    <div class="col-md-12">

　　　<div class="order-show-title">
        <h5 class="fs-6">
          <span class="px-2">注文履歴詳細</span>
        </h5>
      </div>

      <table>
        <tbody>
          <tr>
            <th>購入者</th>
            <td class="underline"><%= @customer.full_name %></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td><%= @order.postal_code + " " + @order.address %></td>
          </tr>
          <tr>
            <th></th>
            <td><%= @order.name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <td>
              <%= form_with model: @order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
              <div class="d-flex align-items-center">
                <%= f.select :order_status, Order.order_statuses_i18n.keys.map { |status| [I18n.t("enums.order.order_status.#{status}"), status] }, {}, class: "form-control " %>
                <%= f.submit "更新", class: "btn btn-success" %>
              </div>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>

      <br>
      <br>
      <br>

      <div class="d-flex">

         <div class="col-md-8">
      <table class="table table-borderless">
        <thead class="bg-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= order_detail.price %></td>
              <td><%= order_detail.amount %></td>
              <td><%= order_detail.subtotal %></td>
              <td>
                <%= form_with model: order_detail, url: admin_order_detail_path(order_detail), method: :patch, local: true do |f| %>
                  <div class="d-flex align-items-center">
                    <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map { |status| [I18n.t("enums.order_detail.making_status.#{status}"), status] }, {}, class: "form-control" %>
                    <%= f.submit "更新", class: "btn btn-success" %>
                  </div>
                <% end %>
              </td>
              <td></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      </div>

      <br>
      <br>
      <br>

      <div class="col-md-4">
      <table>
        <tbody>
          <tr>
            <th>商品合計</th>
            <td><%= @order.total_payment - @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <th>送料</th>
            <td><%= @order.shipping_cost %>円</td>
          </tr>
          <tr>
            <th>請求金額合計</th>
            <td><%= @order.total_payment %>円</td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>

          </div>
        </div>
      </div>