
  <%#= render "public/shared/error_messages", resource: resource %>

  <div class="container">
    <div class="row">
      <div class="col">
        <h2>会員情報編集</h2>
      </div>
    </div>
    <%= form_with model: @address, url: _path do |f| %>
      <div class="row">
        <div class="col-3"><label for="inputPost_number">郵便番号（ハイフンなし)</label></div>
        <div class="col-3"><%= f.text_field :post_number, autofocus: true, id:"inputPost_number" %></div>
        <div class="col-3"></div>
      </div>
      <div class="row">
        <div class="col-3"><label for="inputAddress">住所</label></div>
        <div class="col-6"><%= f.text_field :address, size: 58, autofocus: true, id:"inputAddress" %></div>
      </div>
      <div class="row">
        <div class="col-3"><label for="inputName">氏名</label></div>
        <div class="col-3"><%= f.text_field :addressee, autofocus: true, id:"inputlastName" %></div>
        </div>
      
      <div class="row">
        <div class="col-3"></div>
        <div class="col-3 py-1"><%= f.submit "編集内容を保存", class: "btn btn-success" %></div>
      <div class="col"></div>
    </div>
    <% end %>
  </div>
