
<%= form_with model: @address do |f| %>
  <%#= render "public/shared/error_messages", resource: resource %>

<div class="container">
 <div class="row">
      <div class="col">
        <h2>搬送先登録/一覧</h2>
      </div>
  </div>

    <div class="row">
      <div class="col-3"><%= f.label :post_number, "郵便番号（ハイフンなし）" %></div>
      <div class="col-3"><%= f.text_field :post_number %></div>
    </div>

    <div class="row">
      <div class="col-3"><%= f.label :address, "住所" %></div>
      <div class="col-3"><%= f.text_field :address, size: 50 %></div>
    </div>

    <div class="row">
      <div class="col-3">宛名</div>
      <div class="col-5"><%= f.text_field :addressee %></div>
      <div class="col-3 py-1"><%= f.submit "新規登録", class: "btn btn-success" %></div>
    </div>
  <% end %>


  <h4>どんどんどんぐりころころ</h4>

  <table class="table table-bordered">
    <% @addresses.each do |address| %>
    <thead>
      <tr>
      <th scope="row">郵便番号</th>
      <th scope="row">住所</th>
      <th scope="row">宛名</th>
    </tr>
    </thead>
  <tbody>
    <tr>
      <td><%= post_number %></td>
      <td scope="row"><%= address %></td>
      <td colspan="4"><%=addressee %></td>
      <th scope="row"><%= link_to edit_address_path(address.id), class: "btn btn-success" do %>
                      編集する<% end %>
      </th>
      <th scope="row"><%= link_to address_path(address.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" do %>
                      削除する<% end %>
      </th>
    </tr>
  </tbody>
      <% end %>
  </table>
</div>