<div class="container">
  <div class="row">
    <div class="col-3"><h3>ショッピングカート</h3></div>
    <div class="col-3"><%= link_to destroy_all_cart_items_path, class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" do %>
                      カートを空にする<% end %></div>
  </div>
</div>

  <table class="table table-bordered">
    <thead>
      <tr>
      <th scope="row">商品名</th>
      <th scope="row">単価(税込)</th>
      <th scope="row">数量</th>
      <th scope="row">小計</th>
      <th scope="row">＊</th>
    </tr>
    </thead>
  <tbody>
    <%= @cart_items.each do |cart_item| %>
    <tr>
      <td><%= item.name %></td>
      <td scope="row"><%= cart_item.item.with_tax_price %></td>
      <td scope="row"><%= f.select :amout, *[1..10] %>
      <%= link_to cart_item_path(cart_item.id), class: "btn btn-success" do %>
                      変更<% end %></td>
      <td scope="row"><%= cart_item.subtotal %></td>
      <th scope="row"><%= link_to cart_items_path(cart_item.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか?" do %>
                      削除する<% end %>
      </th>
    </tr>
  </tbody>

  </table>

  <div class="row">
    <div class="col">
      <%= link_to admin_root_path, class: "btn btn-success" do %>
                  買い物を続ける<% end %>
    </div>
  </div>

  <% @total_payment += cart_item.subtotal %>
   <% end %>

  <div class="row">
    <div class="col">
      <%= link_to new_order_path, class: "btn btn-success" do %>
                  情報入力に進む<% end %>
    </div>
  </div>

</div>
