<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'public/shared/sidebar', genres: @genres %>
    </div>
    <div class="col-md-4 offset-1">
      <%= image_tag url_for(@item.image), class: 'img-fluid', style: 'width: 65%;' %>
    </div>
    <div class="col-md-4">
      <%= form_with model: CartItem.new, url: cart_items_path, method: :post do |i| %>
        <h1><%= @item.name %></h1>
        <p><%= @item.introduction %></p>
        <p><%= number_with_delimiter((@item.price * 1.1).round) %>円 ( <%= number_with_delimiter(@item.price) %>円 )</p>
        <%= i.hidden_field :item_id, value: @item.id %>
        <%= i.number_field :amount, min: 1, value: 1 %>
        <%= i.submit 'カートに入れる', class: 'btn btn-success' %>
        <% if flash.now[:alert] %>
          <div class="alert alert-danger"><%= flash.now[:alert] %></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>